input,
button,
select,
textarea {
	--input-border-color: #4b4b4ba1;
	--input-border-radius: 4px;
	--input-border-style: solid;
	--input-border-width: 2px;
	--input-border: var(--input-border-width) var(--input-border-style) var(--input-border-color);
	--input-padding-x: 6px;
	--input-padding-y: 1px;

	--button-background-color: #efefef;
	--button-padding-x: var(--input-padding-x);
	--button-padding-y: 2px;

	--text-input-color: #4b4b4b;
	--text-input-padding-x: var(--input-padding-x);
	--text-input-padding-y: var(--input-padding-y);

	appearance: none;
	box-sizing: inherit;
	font: inherit;
}

input[type='image'] {
	vertical-align: bottom;
}
