button,
select,
input::file-selector-button,
input:where([type='button'], input[type='color'], [type='reset'], [type='submit']) {
	background-color: var(--button--background_color);
	border: var(--input--border);
	border-radius: var(--input--border_radius);
	cursor: pointer;
	height: var(--button--height);
	padding: var(--button--padding_y) var(--button--padding_x);
}

select {
	outline: 0;
	background-image: url(data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+CiAgPHBhdGggZmlsbD0iIzRiNGI0YiIgZD0iTTE2LjU5IDcuNDFMMTIgMTIuMTcgNy40MSA3LjQxIDYgMTBsNiA2IDYtNnoiLz4KPC9zdmc+Cg==);
	background-repeat: no-repeat;
	background-position: right 2px center;

	padding: var(--button--padding_y) 24px var(--button--padding_y) var(--button--padding_x);

	&:hover {
		background-color: #4b4b4ba1;
	}
}

input[type='color'] {
	min-width: 64px;
	padding: 6px;
	vertical-align: bottom;

	&::-webkit-color-swatch-wrapper {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
	}
}

input[type='file'] {
	font: inherit;

	&::file-selector-button {
		font: inherit;
	}
}
