/* checked input */
input:where([type='checkbox'], [type='radio']) {
	--checked_input--dimensions: 16px;
	--checked_input--border: calc(0.125 * var(--checked_input--dimensions));
	cursor: pointer;
	width: var(--checked_input--dimensions);
	height: var(--checked_input--dimensions);
	border: var(--checked_input--border) solid gray;
	position: relative;
	overflow: clip;
	margin: 0;

	&::before {
		--checked_input--scale: 0;
		--checked_input--offset: 50%;
		--checked_input--offset_y: calc(
			var(--checked_input--offset) - (var(--checked_input--scale) * var(--checked_input--border))
		);

		display: block;
		position: absolute;
		right: 50%;
		bottom: 50%;
		transform: translate(var(--checked_input--offset), var(--checked_input--offset_y))
			scale(var(--checked_input--scale));
		transform-origin: center;
		transition: transform 0.3s;
		color: #4b4b4ba1;
	}

	&:checked::before {
		transform: translate(var(--checked_input--offset), var(--checked_input--offset_y))
			scale(var(--checked_input--scale));
	}
}

input[type='radio'] {
	border-radius: 50%;

	&:checked::before {
		--checked_input--scale: 0.6;
	}
	&::before {
		content: '⬤';
	}
}

input[type='checkbox'] {
	border-radius: var(--input--border_radius);

	&:checked {
		background-color: #4b4b4ba1;
	}

	&::before {
		content: '✔';
		font-weight: 100;
		color: #ffffffff;
		text-shadow: 1px 1px 8px #4b4b4ba1, 2px 2px 10px #f88600a1, 1px 1px 8px #48a0dfa1;
	}
	&:checked::before {
		--checked_input--scale: 0.75;
	}
}
