input,
button,
select,
textarea {
	--input--border-color: #4b4b4ba1;
	--input--border_radius: 4px;
	--input--border-style: solid;
	--input--border-width: 2px;
	--input--border: var(--input--border-width) var(--input--border-style) var(--input--border-color);
	--input--padding_x: 6px;
	--input--padding_y: 1px;

	--button--background_color: #efefef;
	--button--height: 32px;
	--button--padding_x: var(--input--padding_x);
	--button--padding_y: 2px;

	--text_input--color: #4b4b4b;
	--text_input--padding_x: var(--input--padding_x);
	--text_input--padding_y: var(--input--padding_y);

	appearance: none;
	box-sizing: inherit;
	font: inherit;
}

input[type='image'] {
	vertical-align: bottom;
}

input[type='password'] {
	-webkit-text-security: none;
}
