textarea,
input:where(
		[type='date'],
		[type='datetime-local'],
		[type='email'],
		[type='month'],
		[type='number'],
		[type='password'],
		[type='search'],
		[type='tel'],
		[type='text'],
		[type='time'],
		[type='url'],
		[type='week'],
		[list]
	) {
	border: var(--input--border);
	border-radius: var(--input--border_radius);
	color: var(--text_input--color);
	height: 28px;
	padding: var(--text_input--padding_y) var(--text_input--padding_x);
}

/* === -webkit shadow DOM styles === */

/*
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
}
*/

/* === -moz shadow DOM styles === */

/* 
input[type='number']::-moz-number-spin-down,
input[type='number']::-moz-number-spin-up {
}
*/
