button {
	appearance: none;
	background-color: var(--button-background-color);
	border: var(--input-border);
	border-radius: var(--input-border-radius);
	box-sizing: inherit;
	font: inherit;

	height: 24px;
	padding: var(--button-padding-y) var(--button-padding-x);
}
