input {
	font: inherit;
	margin: 0;
	cursor: pointer;
}
input:where([type='search'], [type='checkbox'], [type='radio']) {
	appearance: none;
	box-sizing: inherit;
}

input[type='color'] {
	border: 0;
	padding: 0;
}
input[type='radio'] {
	--radio-dimensions: 1em;
	--radio-border: calc(0.125 * var(--radio-dimensions));

	width: var(--radio-dimensions);
	height: var(--radio-dimensions);
	border-radius: 50%;
	border: var(--radio-border) solid gray;
	position: relative;
	overflow: clip;
}

input[type='radio']::before {
	--radio-checked-scale: 0;
	--radio-checked-offset: 50%;
	--radio-checked-offset-y: calc(
		var(--radio-checked-offset) - (var(--radio-checked-scale) * var(--radio-border))
	);

	display: block;
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translate(var(--radio-checked-offset), var(--radio-checked-offset-y))
		scale(var(--radio-checked-scale));

	content: '⬤';
	transform-origin: center;
	transition: transform 0.3s;
	color: #4b4b4ba1;
}

input[type='radio']:checked::before {
	--radio-checked-scale: 0.6;
	transform: translate(var(--radio-checked-offset), var(--radio-checked-offset-y))
		scale(var(--radio-checked-scale));
}

/* TODO:
input[type='button'],
input[type='checkbox'],
input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='file'],
input[type='hidden'],
input[type='image'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='radio'],
input[type='range'],
input[type='search'],
input[type='submit'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
*/
