input {
	font: inherit;
	margin: 0;
}
input:where([type='search'], [type='checkbox'], [type='radio']) {
	appearance: none;
	box-sizing: inherit;
}

input[type='color'] {
	border: 0;
	padding: 0;
}
input[type='radio'] {
	--radio-dimensions: 1em;
	--radio-border: calc(0.125 * var(--radio-dimensions));

	width: var(--radio-dimensions);
	height: var(--radio-dimensions);
	border-radius: 50%;
	border: var(--radio-border) solid gray;
	position: relative;
	overflow: clip;
}

input[type='radio']::before {
	--radio-checked-dimensions: calc(var(--radio-dimensions) + (2 * var(--radio-border)));
	display: block;
	content: '⬤';
	transform-origin: center;
	transition: all 0.3s;
	transform: translate(-0.109375em, -0.15625em) scale(0);

	/* Safari, prevent transition from clipping */
	width: var(--radio-checked-dimensions);
	height: var(--radio-checked-dimensions);
}

input[type='radio']:checked::before {
	transform: translate(-0.109375em, -0.15625em) scale(0.5);
}
