select {
	appearance: none;
	background-color: var(--button-background-color);
	border: var(--input-border);
	border-radius: var(--input-border-radius);
	box-sizing: inherit;
	font: inherit;

	height: 24px;
	padding: var(--button-padding-y) 24px var(--button-padding-y) var(--button-padding-x);
	outline: 0;

	background-image: url(data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+CiAgPHBhdGggZmlsbD0iIzRiNGI0YiIgZD0iTTE2LjU5IDcuNDFMMTIgMTIuMTcgNy40MSA3LjQxIDYgMTBsNiA2IDYtNnoiLz4KPC9zdmc+Cg==);
	background-repeat: no-repeat;
	background-position: right 2px center;

	&:hover {
		background-color: buttonhoverface;
	}
}
