textarea {
	appearance: none;
	border: var(--input-border);
	color: var(--text-input-color);
	border-radius: var(--input-border-radius);
	box-sizing: inherit;
	font: inherit;

	height: 24px;
	padding: var(--text-input-padding-y) var(--text-input-padding-x);
}
